#gameArea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -40;
  display: flex;
}

#chat {
  background: greenyellow;
  width: 160px;
}

#startInput, #waitingMessage, #loadingMessage, #loginInput, #lobbiesInput, #createAccountInput {
  background: white;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  width: 200px;
  border: 2px solid gray;
  border-radius: 5px;
}

#startInput button, #loginInput button, #lobbiesInput button, #createAccountInput button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #0b9b74;
  padding: 5px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 92%;
  margin: 2px 5px 10px 5px;
}

#startInput button:hover, #loginInput button:hover, #lobbiesInput button:hover, #createAccountInput button:hover {
  background: #07684e;
}

#startInput button:disabled, #loginInput button:disabled, #lobbiesInput button:disabled, #createAccountInput button:disabled {
  background: gray;
}

#startInput input, #loginInput input, #createAccountInput input {
  width: 176px;
  margin: 2px 5px 10px 5px;
  border-radius: 5px;
}

.errorText {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 12px;
  margin: 4px;
}

.subText {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 12px;
  margin: 4px;
}

.titleText {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  margin: 4px;
}

a {
  color: green;
  cursor: pointer;
}
