<!-- <router-outlet></router-outlet> -->

<div id="gameArea">
  <div id="map">
    <div id="startInput" *ngIf="menuState === MenuStates.Menu">
      <div class="container">
        <div *ngIf="loginState == LoginStates.LoggedIn">
          <div class="titleText">Welcome back, {{userInfo?.username}}</div>
          <div class="titleText">Your current ELO is {{userInfo?.elo}}</div>
          <div class="subText" *ngIf="!userInfo?.verified">Verify your account now to chat ingame!</div>
        </div>
        <div *ngIf="loginState !== LoginStates.LoggedIn">
          <div class="titleText">Hi, Chip!</div>
          <div class="subText">Create an account to pick your own username.</div>
        </div>
        <button (click)="playGame()" class="btn btn-dark">Play</button>
        <button (click)="goToLogin()" *ngIf="loginState !== LoginStates.LoggedIn" class="btn btn-dark">Login/Create</button>
        <button (click)="logout()" *ngIf="loginState == LoginStates.LoggedIn" class="btn btn-dark">Log Out</button>
        <button (click)="goToLobbies()" class="btn btn-dark">Lobbies</button>
      </div>
    </div>
    <form id="loginInput" *ngIf="menuState === MenuStates.Login" [formGroup]="loginForm" (ngSubmit)="logIntoAccount()">
      <input formControlName="username" type="text" placeholder="Username">
      <input formControlName="password" type="password" placeholder="Password">
      <button type="submit" class="btn btn-dark" [disabled]="!loginForm.valid">Login</button>
      <button (click)="goToMenu()" class="btn btn-dark">Cancel</button>
      <div class="subText"><a (click)="goToCreateAccount()">Create an account</a> to pick your own username.</div>
      <div class="errorText" *ngIf="loginState == LoginStates.Failed">Failed to login.</div>
    </form>
    <div id="waitingMessage" *ngIf="menuState === MenuStates.Playing && gameState !== GameStates.Playing">
      <div *ngIf="gameState === GameStates.Starting">
        Starting in {{ timeToStartOrFinish }} seconds...
      </div>
      <div *ngIf="gameState === GameStates.Finished">
        <div class="winnerText">
          {{ playerScores[0].name }} wins!
        </div>
        <div class="fullScores">
          Full scores:
          <div *ngFor="let player of playerScores; index as place">
            {{ place + 1 }}. {{ player.name }}
          </div>
        </div>
        <div class="timerText">
          Restarting in {{ timeToStartOrFinish }} seconds...
        </div>
      </div>
    </div>
    <div id="loadingMessage" *ngIf="menuState === MenuStates.Loading">
      Loading...
    </div>
    <div id="lobbiesInput" *ngIf="menuState === MenuStates.Lobbies">
      <div *ngFor="let room of rooms">
        <button (click)="joinRoom(room.name)" class="btn btn-dark" [disabled]="room.playerCount >= room.maxPlayerCount" [ngClass]="{'currentRoom': currentRoom.name === room.name}">{{room.name}} - {{room.playerCount}}/{{room.maxPlayerCount}} </button>
      </div>
      <button (click)="goToMenu()" class="btn btn-dark">Back</button>
    </div>
    <form id="loginInput" *ngIf="menuState === MenuStates.CreateAccount" [formGroup]="createAccountForm" (ngSubmit)="createAccount()">
      <input formControlName="username" type="text" placeholder="Username">
      <input formControlName="password" type="password" placeholder="Password">
      <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
      <input formControlName="email" type="text" placeholder="Email (Optional)">
      <button type="submit" class="btn btn-dark" [disabled]="!createAccountForm.valid">Create Account</button>
      <div class="errorText" *ngIf="!createAccountForm.valid">Not ready</div>
      <button (click)="goToMenu()" class="btn btn-dark">Cancel</button>
      <div class="errorText" *ngIf="loginState == LoginStates.Failed">Failed to create account. Username may already exist.</div>
    </form>
  </div>
  <!-- <div id="chat">
    Chat on the way!
  </div> -->
</div>
